<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<extensions>
		<add assembly="ToolSoftwareTester" /> 
    </extensions>
	
	<targets>
		<!-- UI Log -->
		<target xsi:type="File"
				name="uiLog"
				fileName="${basedir}/TestReport_${gdc:item=TimeStamp}/TestLog_${gdc:item=TimeStamp}/TestLog_${gdc:item=TimeStamp}.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"/>

		<!-- Level1-Initial Log -->
		<target xsi:type="File"
				name="Level1-Initial Log"
				fileName="${basedir}/TestReport_${gdc:item=TimeStamp}/TestLog_${gdc:item=TimeStamp}/TestLog_Level1-Initial_${gdc:item=TimeStamp}.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"/>

		<!-- Level1-NormalScenario Log -->
		<target xsi:type="File"
				name="Level1-NormalScenario Log"
				fileName="${basedir}/TestReport_${gdc:item=TimeStamp}/TestLog_${gdc:item=TimeStamp}/TestLog_Level1-NormalScenario_${gdc:item=TimeStamp}.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"/>

		<!-- Level2-ConcurrentRun Log -->
		<target xsi:type="File"
				name="Level2-ConcurrentRun Log"
				fileName="${basedir}/TestReport_${gdc:item=TimeStamp}/TestLog_${gdc:item=TimeStamp}/TestLog_Level2-ConcurrentRun_${gdc:item=TimeStamp}.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"/>
		
		<!-- Level2-CancelStopAbort Log -->
		<target xsi:type="File"
				name="Level2-CancelStopAbort Log"
				fileName="${basedir}/TestReport_${gdc:item=TimeStamp}/TestLog_${gdc:item=TimeStamp}/TestLog_Level2-CancelStopAbort_${gdc:item=TimeStamp}.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"/>

		<!-- Level2-Alarm Log -->
		<target xsi:type="File"
				name="Level2-Alarm Log"
				fileName="${basedir}/TestReport_${gdc:item=TimeStamp}/TestLog_${gdc:item=TimeStamp}/TestLog_Level2-Alarm_${gdc:item=TimeStamp}.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"/>

		<!-- Level2-Recipe Log -->
		<target xsi:type="File"
				name="Level2-Recipe Log"
				fileName="${basedir}/TestReport_${gdc:item=TimeStamp}/TestLog_${gdc:item=TimeStamp}/TestLog_Level2-Recipe_${gdc:item=TimeStamp}.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"/>

		<!-- Level2-TraceDataCollection Log -->
		<target xsi:type="File"
				name="Level2-TraceDataCollection Log"
				fileName="${basedir}/TestReport_${gdc:item=TimeStamp}/TestLog_${gdc:item=TimeStamp}/TestLog_Level2-TraceDataCollection_${gdc:item=TimeStamp}.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"/>

		<!-- Level2-VID Log -->
		<target xsi:type="File"
				name="Level2-VID Log"
				fileName="${basedir}/TestReport_${gdc:item=TimeStamp}/TestLog_${gdc:item=TimeStamp}/TestLog_Level2-VID_${gdc:item=TimeStamp}.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"/>

		<target name="customFunctionTarget" type="CustomFunctionTarget" layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="UI_Logger" minlevel="Trace" writeTo="uiLog,customFunctionTarget" />
		<logger name="Level1_Initial_Logger" minlevel="Trace" writeTo="Level1-Initial Log" />
		<logger name="Level1_NormalScenario_Logger" minlevel="Trace" writeTo="Level1-NormalScenario Log" />
		<logger name="Level2_ConcurrentRun_Logger" minlevel="Trace" writeTo="Level2-ConcurrentRun Log" />
		<logger name="Level2_CancelStopAbort_Logger" minlevel="Trace" writeTo="Level2-CancelStopAbort Log" />
		<logger name="Level2_Alarm_Logger" minlevel="Trace" writeTo="Level2-Alarm Log" />
		<logger name="Level2_Recipe_Logger" minlevel="Trace" writeTo="Level2-Recipe Log" />
		<logger name="Level2_TraceDataCollection_Logger" minlevel="Trace" writeTo="Level2-TraceDataCollection Log" />
		<logger name="Level2_VID_Logger" minlevel="Trace" writeTo="Level2-VID Log" />
	</rules>
</nlog>